.new_ad_user_landing
  width 100%
  position relative
  .landing_bg
    width 100%
    height auto
  .landing_content
    position absolute
    left 0
    top 572px
    width 100%
    .landing_btn
      width 186px
      height 48px
      line-height 48px
      border-radius 24px
      text-align center
      margin 0 auto
      background linear-gradient(249deg, #FFC87A 0%, #F43A3A 100%)
      box-shadow 0px 4px 12px 0px rgba(255, 101, 61, 0.35)
      font-size 16px
      color #ffffff
      font-weight 500
      &.bk_free_app
        background linear-gradient(249deg, #FFC87A 0%, #F43A3A 100%)
        box-shadow 0px 4px 12px 0px rgba(255, 101, 61, 0.35)
      &.by_app
        background linear-gradient(181deg, #F46262 0%, #F43444 100%)
        box-shadow 0px 4px 12px 0px rgba(255, 101, 61, 0.35)
      &.jg_app
        background linear-gradient(299deg, #FFC878 0%, #F47B3A 100%)
        box-shadow 0px 4px 12px 0px rgba(255, 101, 61, 0.35)
      &.yc_app
        background linear-gradient(299deg, #FFC878 0%, #F47B3A 100%)
        box-shadow 0px 4px 12px 0px rgba(255, 101, 61, 0.35)
    .landing_text
      width 100%
      text-align center
      margin-top 10px
      color #FE3D36
      font-size 14px
      font-weight 400