{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false // 对ES6的模块文件不做转化，以便使用tree shaking、sideEffects等
      }
   ]
  ],  // 预设
  "plugins": [
    "@babel/plugin-transform-exponentiation-operator",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ]
  ]   // 插件
}