extends ../../common/index.pug

//- 模板参数
block arguments
  - var title = '碎片中心'
  - var remlayout = true
  - var develop = true
  
//- block headerJS
//-   script.
//-     document.cookie='vId=3f21cf4576af475686dbfab3dcdd7530'
