@import '../../styles/index.styl';
body,html
  size(100%, 100%)
  overflow hidden
#tumenactive
  max-width 600px
  .active_img
    font-size: 16px
    text-align: center
    background-image: url('../../assets/tu_show/background_tumen.jpg')
    background-size: cover
    background-repeat: no-repeat
    height: 100vh
  .toast_modalbox
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: rgba(0,0,0,.5)
    .content_box
      width: 200px
      background: #fff
      border-radius: 14px
      position: absolute
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      .tip_textbox
        text-align: center
        font-size: 14px
        padding: 10px
        padding-top: 16px
        font-family: PingFangSC-Semibold, PingFang SC; 
        color: #999
      .btn_closebox
        color: #1890ff
        text-align: center
        font-size: 13px
        padding: 14px 0
  