@import '../../styles/index.styl';
body,html
  size(100%, 100%)
  overflow hidden
#tumenactive
  max-width 600px
  .active_img
    font-size: 16px
    text-align: center
    background-image: url('../../assets/tu_show/background_tumen.jpg')
    background-size: cover
    background-repeat: no-repeat
    height: 100vh
  