@import '../../styles/index.styl';
body,html
  size(100%, 100%)
  background: #6ff2d2
#tumenactive
  width: 100%
  .active_img
    font-size: 16px
    text-align: center
    min-height: 100vh
    vertical-align: middle
    .back_activeImg
      max-width: 100%
      object-fit: contain
  .toast_modalbox
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: rgba(0,0,0,.5)
    .content_box
      width: 240px
      background: #fff
      border-radius: 14px
      position: absolute
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      .tip_textbox
        text-align: center
        font-size: 14px
        padding: 10px
        padding-top: 16px
        font-family: PingFangSC-Semibold, PingFang SC; 
        color: #999
      .btn_closebox
        color: #1890ff
        text-align: center
        font-size: 13px
        padding: 14px 0
    .context_pcbox
      width: 100px
      background: #fff
      border-radius: 1em
      position: absolute
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      .tip_pctextbox
        text-align: center
        font-size: 0.8em
        padding: 1em
        padding-top: 1em
        font-family: PingFangSC-Semibold, PingFang SC; 
        color: #999
      .btnpc_closebox
        color: #1890ff
        text-align: center
        font-size: 0.8em
        padding: 0.8em 0
  