extends ../../common/index.pug

//- 模板参数
block arguments
  - var H5Share = true
  - var remlayout = true
  //- - var title = '一个边看小说边赚钱的有趣应用'
  //- - var develop = true
  
block footJS
  script(src="https://scdn.ibreader.com/Breader_Task_H5/js/wx_jssdk.min.js")