@import 'border'
@import 'border-radius'
@import 'clearfix'
@import 'color-image'
@import 'flex'
@import 'gradients'
@import 'iconic'
@import 'image'
@import 'normalize'
@import 'overflow'
@import 'positions'
@import 'reset'
@import 'text'
@import 'size'
@import 'vendor'

flex-version = flex
support-for-ie = false
vendor-prefixes = official
