.debris_award_detail
  padding-bottom 20px
  .debris_award_detail_tip
    text-align center
    margin-top 54px
    .debris_award_detail_text
      display inline
      font-size 15px
      color rgba(153, 153, 153, 1)
      font-weight 400
      border-bottom 1px solid rgba(153, 153, 153, 1)
      padding-bottom 2px