.debris_award_detail
  padding-bottom 20px
  background url('../../assets/debris_award_detail/detail_bg.png') no-repeat top center/100% 244px
  // padding-top 88px
  .left_img
    width 28px
    height 28px
  .left_right
    width 120px
    height 44px
    line-height 44px
    text-align center
    border-radius 22px 0 0 22px
    font-size 24px
    font-weight 400
    color #8D3000
    background-color rgba(255 236 219, 0.43)
    display inline-block
    transform scale(0.5)
    transform-origin right center
  .debris_award_detail_tip
    text-align center
    margin-top 54px
    .debris_award_detail_text
      display inline
      font-size 15px
      color rgba(153, 153, 153, 1)
      font-weight 400
      border-bottom 1px solid rgba(153, 153, 153, 1)
      padding-bottom 2px
  .debris_award_detail_null
    display flex
    align-items center
    justify-content center
    flex-direction column
    height 100vh
    img
      size(60px, 64px)
      margin-bottom 52px
    div
      font-size 14px
      color rgba(153, 153, 153, 1)


