.debris_sign_record
  width 100%
  min-height 100vh
  background url('../../assets/debris_sign_record/debris_sign_record_bg.png') no-repeat top center/100% 224px
  box-sizing border-box
  overflow hidden
  .debris_sign_record_tip
    font-size 18px
    color #ffffff
    display flex
    align-items center
    justify-content center
    margin-top 96px
    .debris_sign_record_tip_text
      color rgba(244, 58, 58, 1)
      width 41px
      height 55px
      line-height 55px
      border-radius 5px
      background #ffffff
      font-size 36px
      text-align center
      margin-left 6px
      &:last-of-type
        margin-right 6px