// =  =  Colors  ##onionMath3.0 colors
$blue-1 = #e5f8ff
$blue-2 = #bbe7f6
$blue-3 = #60bdf1
$blue-4 = #2da9ee
$blue-5 = #1696ea
$blue-6 = #117ed1

//green
$green-1 = #f3ffdb
$green-2 = #d9f1a6
$green-3 = #b6df76
$green-4 = #8fcb31
$green-5 = #6eb805
$green-6 = #549a40

//red
$red-1 = #fff1ef
$red-2 = #ffd1cb
$red-3 = #ff9576
$red-4 = #f1572e
$red-5 = #e14116
$red-6 = #c82a00

//gold
$gold-1 = #fff8ce
$gold-2 = #ffec93
$gold-3 = #ffde59
$gold-4 = #fbcf00
$gold-5 = #f6c115
$gold-6 = #eeaf00

//gray
$gray-1 = #f3f3f3
$gray-2 = #dadada
$gray-3 = #bebebe
$gray-4 = #a2a2a2
$gray-5 = #888
$gray-6 = #6a6a6a
$gray-7 = #3b3b3b
