body, html
  size(100%, 100%)
.welfare__task
  size(100%, 100%)
  .sign__model
    min-height 150px
    background url('../../assets/welfare_task/new_sign_bg.png') no-repeat center top
    background-size 100% 100%
  .readAdTask
    width 266px
    margin 30px auto 0
    display flex
    justify-content center
    flex-direction column
    align-items center
    p.read__desc
      font-size 14px
      font-family PingFangSC-Regular, PingFang SC
      font-weight 400
      color #666666
      line-height 20px
      text-align center
      padding-bottom 15px
    button.btn
      width 108px
      height 32px
      background linear-gradient(235deg, #FFC87A 0%, #F43A3A 100%)
      border-radius 16px
      font-size 16px
      color #ffffff
.task_rule
  margin-top 30px
  padding 0 20px
  p
    font-size 14px
    color #666666