body, html
  size(100%, 100%)
.welfare__task
  size(100%, 100%)
  .sign__model
    min-height 150px
    background url('../../assets/welfare_task/new_sign_bg.png') no-repeat center top
    background-size 100% 100%