header
    text-align center
    .header_space
      position fixed
      left 0
      top 0
      right 0
      z-index 90
    .header_nav
      box-sizing border-box
      padding 0px 16px
      font-weight 500
      text-align center
      display flex
      align-items center
      justify-content space-between
      position fixed
      left 0
      top 20px
      right 0
      z-index 99
      div
        flex 1
      .left
        text-align left
      .right
        text-align right
        background line