.debris_detail
  .left_img
    width 28px
    height 28px
  .debris_box
    padding-top 20px
  .debris_detail_null
    text-align center
    padding-top 200px
    font-size 0
    img
      width 241px
      height 167px
    .debris_detail_null_tip
      font-size 12px
      color #C8C8C8
      margin-top 23px