.record
  .no-record
    width 100%
    min-height 100vh
    padding-top 62px
    text-align center
    img
      width 140px
      height 152px
    .no-record-tip
      text-align center
      font-size 12px
      color rgba(102, 102, 102, 1)
      margin-top 30px
      width 100%
      font-weight 400
  .record-list
    box-sizing border-box
    padding 0 15px
    .record-item
      padding 10px 0
      width 100%
      font-size 16px
      display flex
      align-items center
      justify-content space-between
      border-bottom 1px solid rgba(236,236,236,1)
      color rgba(51, 51, 51, 1)
      &:last-of-type
        border none
      .left
        .desc
          font-weight 500
        .time
          font-size 12px
          color rgba(102, 102, 102, 1)
          margin-top 5px
      .right
        font-size 15px
        font-weight 500
        color #f26d2b