.vote-draw
  min-height 100vh
  width 100%
  background url('../../assets/vote_draw_award/vote_draw_bg.png') no-repeat top center/100% 223px
  background-color #997AFA
  font-size 18px
  overflow hidden
  padding-bottom 20px
  .vote-tip
    width 202px
    box-sizing border-box
    height 35px
    line-height 35px
    border-radius 35px
    background url('../../assets/vote_draw_award/vote_draw_gift.png') no-repeat 10px center/33px 32px
    background-color rgba(21,0,168,0.25)
    color #ffffff
    margin 108px auto 0
    padding-left 50px
    font-weight bold
    span
      font-size 28px
      color #FCDC8C
      position relative
      vertical-align middle
      top -2px
  .vote-draw-rule
    background rgba(138,74,255,0.1)
    width 344px
    height 212px
    box-shadow 0px 0px 3px 0px rgba(91,51,242,1)
    box-sizing border-box
    border-raidus 8px
    margin 6px auto
    font-size 14px
    color #ffffff
    line-height 20px
    border-radius 8px
    .vote-draw-title
      font-size 16px
      font-weight 500
      padding 10px 0 12px
      text-align center
    .vote-draw-rule-content
      padding-left 10px
      p 
        margin-bottom 6px
  .vote-draw-record
    position absolute
    width 70px
    height 21px
    line-height 21px
    text-align center
    border 1px solid #ffffff
    background rgba(85, 29, 143, 0.44)
    border-radius 21px
    right 16px
    top 16px
    font-size 12px
    color #ffffff