#app
  .labor
    width 100%
    min-height 700px
    background url('../../assets/labor_activity/bg.png') no-repeat top center/cover
    padding-top 46px
    box-sizing border-box
    font-family Adobe Heiti Std
    padding-bottom 44px
    .labor-rule
      width 64px
      height 19px
      line-height 19px
      text-align center
      background-color #39702D
      border-radius 0 9px 9px 0
      font-size 13px
      color #ffffff
      position absolute
      top 28px
      left 0
    .labor-top
      width 100%
      text-align center
      font-size 0
      img
        size(290px, 90px)
    .labor-money-box
      size(349px, 234px)
      background url('../../assets/labor_activity/money_box_bg.png') no-repeat top center/100% 100%
      margin 249px auto 0
      box-sizing border-box
      padding-top 46px
      .labor-money-tip
        font-size 16px
        color #F69A07
        font-weight bold
        text-align center
        line-height 1
        span
          color #3D6F30
          font-family Adobe Heiti Std
      .labor-members
        font-size 18px
        color #666666
        text-align center
        margin-top 13px
        line-height 1
        &.is-hidden
          visibility hidden
      .labor-money-number
        size(284px, 128px)
        background url('../../assets/labor_activity/money_bg.png') no-repeat top center/100% 100%
        box-sizing border-box
        margin 0 auto
        font-size 40px
        font-family Source Han Sans CN
        font-weight bold
        color #F69907
        text-align center
        line-height 128px
    .labor-begin-active-count-time
      font-family PingFang SC
      font-size 18px
      font-weight bold
      color #ffffff
      text-shadow 0px 0px 48px rgba(108,148,59,0.38)
      text-align center
      margin 16px auto 0
    .labor-no-start-btn
      size(250px, 52px)
      line-height 52px
      text-align center
      margin 12px auto 0
      background url('../../assets/labor_activity/no_start.png') no-repeat top center/100% 100%
      font-size 18px
      font-family PingFang SC
      font-weight bold
      color #ffffff
    .labor-commend
      size(346px, 197px)
      margin 44px auto 0
      border-radius 8px
      background url('../../assets/labor_activity/commend_book_border.png') no-repeat top center/100% 100%
      position relative
      box-sizing border-box
      padding  4px 6px 8px 6px
      &:before
        content '推荐书籍'
        position absolute
        size(129px, 39px)
        font-size 18px
        line-height 39px
        text-align center
        text-shadow 1px 2px 4px rgba(87,180,127,0.75)
        color #ffffff
        font-family PingFang SC
        font-weight bold
        background url('../../assets/labor_activity/tip_bg.png') no-repeat top center/100% 100%
        left 50%
        top 0
        transform translateX(-50%) translateY(-50%)
      .labor-commend-list
        display flex
        justify-content space-evenly
        margin-top 35px
        .labor-commend-list-item
          font-size 0
          img
            size(73px, 94px)
            box-shadow 0px 0px 4px 0px rgba(117,117,117,0.38)
      .labor-commend-btn
        font-size 14px
        font-family PingFang SC
        font-weight bold
        color #3D6F30
        text-align center
        margin-top 22px
        img
          size(11px, 11px)
    .labor-rule-pop
      font-size 14px
      color #666666
      size(100%, 100%)
      position fixed
      background rgba(0, 0, 0, 0.6)
      display flex
      align-items center
      justify-content center
      left 0
      top 0
      .labor-rule-pop-box
        size(290px, 318px)
        background-color #ffffff
        border-radius 10px
        border 4px solid #A6D1A3
        box-sizing border-box
        padding 20px 20px 0
        position relative
        .labor-rule-pop-title
          color #333333
          font-family PingFang SC
          font-weight bold
          font-size 16px
          text-align center
          margin-bottom 10px
        .labor-rule-pop-content
          line-height 26px
        .labor-rule-pop-close
          size(22px, 22px)
          position absolute
          right 10px
          top 10px
          background url('../../assets/labor_activity/close.png') no-repeat center center/100% 100%

    
