body,html
  size(100%, 100%)
#parent
  size(100%,100%)
.bookslast-container
  width 10rem
  background #F2F2F2
  position absolute
  overflow auto
  height 100%
.bookslast-header
  padding 0 0.51rem 0 0.4rem
  background #ffffff
.content 
  margin 0.5rem
  font-size 0.45rem
  line-height .7rem
  color #333333
  margin-top 0.3rem
  overflow-x hidden
  word-wrap break-word
  white-space pre-wrap
  text-align justify
  padding-bottom 2.6rem
.content-title
  color #333333
  font-size 0.5rem
  padding-left 0.5rem
  padding-top 0.5rem
.bottom_parent
  fixed(bottom 0)
  font-size 0.42rem
  width 100%
  box-shadow -1px -1px 10px #c8c8c8
  z-index 99
.bookslast-tip 
  color rgba(139, 87, 42, 1)
  font-size 0.4rem
  border-radius 5px
  border 1px solid #edd8ce
  background-color #fff6ee
  box-shadow 0px 2px 10px #e6dedb
  width 50%
  text-align center
  padding-bottom 0.23rem
  padding-top 0.3rem
  margin auto
  fixed(left 0 right 0 bottom 1.8rem)
  z-index 1
  display flex
  flex-direction row
  align-items center
  justify-content center
.bookslast-tip img
  size(0.45rem, 0.38rem)
  margin-right 0.08rem
.bottom_parent .left
  size(40%, 1.4rem)
  float left
  display block
  text-align center
  background-color white
  line-height 1.4rem
  color #333
.bottom_parent .right
  text-align center
  background-color: #ff5a00
  height 1.4rem
  line-height 1.4rem
  color white
.header-top 
  display flex
  flex-direction row
.header-top-1 
  margin-bottom 0.59rem
  padding-top 0.51rem
.header-top-2
  padding-top 0.51rem
  padding-bottom 0.29rem
.header-top .header-top-desc
  flex 1
  font-size 0.48rem
  color #000000
  display flex
  justify-content flex-start
  align-items center
  line-height 0.67rem
.header-top .header-top-button
  background #FF5A00
.header-top .header-top-numbers
  font-size 0.4rem
  color #333333
.header-top .header-top-numbers .mark-number
  color #FF5A00
  font-size 0.4rem
.header-top .header-top-done
  flex 1
  font-size 0.4rem
  color #333333
.header-top .header-top-done .header-top-book-done
  margin-bottom 0rem
  font-size 0.48rem
  font-family PingFangSC-Medium, PingFang SC
  font-weight bold
  color #000000
  line-height 0.67rem
.header-top .header-top-done .header-top-book-done-other
  display flex
  font-size 0.37rem
  font-family PingFangSC-Regular, PingFang SC
  font-weight 400
  color #666666
  line-height 0.53rem
.header-top .header-top-done .header-top-book-done-other .mark-vpi
  color #FF5A00
.header-top .header-top-book-desc-done
  font-size 0.4rem
  color #333333
  display flex
  font-weight bold
.header-top .header-top-book-desc-done img
  size(0.45rem, 0.38rem)
  margin-left 0.12rem
.header-top-mark-button-fetch-common
  size(2.29rem, 0.8rem)
  border-radius 0.48rem
  font-size 0.37rem
  color #ffffff
  display flex
  line-height 0.8rem
  justify-content center
  align-items center
.header-top .header-top-mark-button-fetch
  background #FF5A00
.header-top .header-top-mark-button-fetch-success
  background #D0D0D0
.header-bottom
  height 1.49rem
  padding-bottom 0.4rem
  position relative
  display flex
  flex-direction row
.header-bottom .header-bottom-comment
  flex 1
  display flex
  flex-direction column
  justify-content center
  align-items center
.header-bottom .header-bottom-monry
  flex 1
  display flex
  flex-direction column
  justify-content center
  align-items center
.header-bottom .header-bottom-comment img,
.header-bottom .header-bottom-monry img
  size(0.59rem, 0.59rem)
  margin-bottom 0.27rem
.header-bottom .header-bottom-text 
  font-size 0.32rem
  color #999999
  line-height 0.4
.header-bottom-line
  size(0.03rem, 0.54rem)
  background #DFDFDF
  position absolute
  top 50%!important
  left 50%!important
  margin-top -0.54rem
.bookslast-content 
  background #ffffff
.content-good-book 
  display flex
  flex-direction row
  justify-content center
  align-items center
  margin-bottom 0.13rem
.content-good-book-img 
  size(3.48rem, 0.8rem)
  position relative
  font-size 0
.content-good-book-img img 
  size(3.47rem, 0.8rem)
.content-good-book-text
  position absolute
  top 0.1rem
  left 0.88rem
  font-size 0.43rem
  color #8B572A
.content-book-info-container 
  border-top 0.16rem solid rgba(242, 242, 242, 1)
  padding 0.4rem 0.4rem 0.45rem
  display flex
  flex-direction row
.content-book-info-container .content-book-cover
  size(2.21rem, 2.93rem)
  position relative
  margin-right 0.43rem
.content-book-info-container .content-book-cover .cover-img 
  size(2.21rem, 2.93rem)
.content-book-info-container .content-book-cover .book-score 
  size(1.04rem, 0.45rem)
  absolute(top 0)
  display flex
.content-book-info-container .content-book-cover .book-score img 
  size(1.04rem, 0.45rem)
.content-book-info-container .content-book-cover .book-score .book-score-text 
  font-size 0.29rem
  color #ffffff
  absolute(top 0 left 0.08rem)
.content-book-info 
  flex 1
.content-book-info .content-book-info-title 
  font-size 0.42rem
  color #333333
  margin-bottom 0.29rem
.content-book-info .content-book-info-author 
  display flex
  flex-direction row
  justify-content flex-start
  align-items center
  margin-bottom 0.96rem
.content-book-info .content-book-info-author img 
  size(0.32rem, 0.32rem)
  margin-right 0.08rem
.content-book-info .content-book-info-author .content-book-info-author-text 
  font-size 0.32rem
  color #666666
.content-book-info .content-book-info-serial 
  font-size 0.32rem
  color #666666
  margin-bottom 0.27rem
.content-book-info .content-book-info-nums 
  font-size 0.32rem
  color #666666
.content-book-ranking 
  width 1.55rem
  margin-left 0.48rem
.content-book-ranking .book-ranking 
  width 1.55rem
  height 1.81rem
  position relative
  display flex
  margin-bottom 0.8rem
.content-book-ranking .book-ranking .book-ranking-img 
  size(1.55rem, 1.81rem)
.content-book-ranking .book-ranking .book-ranking-text-container 
  width 1.55rem
  position absolute
  top 0.26rem
  left 0
  font-size 0.35rem
  color #ffffff
  display flex
  flex-direction column
  align-items center
.content-book-ranking .book-ranking .book-ranking-text-container .category 
  font-size 0.27rem
  margin-bottom 0.1rem
.content-book-ranking .book-refresh 
  height 0.32rem
  display flex
  flex-direction row
  align-items center
  font-size 0.32rem
  color #333333
.content-book-ranking .book-refresh img
  size(0.32rem, 0.32rem)
  margin-right 0.13rem
  margin-top -2px
.content-book-video 
  height 7.63rem
.edit-push 
  width 100%
  margin-top 0.16rem
.edit-push-icon
  size(3.57rem, 0.85rem)
  background url('~@/assets/bookslast/editpushicon.png') no-repeat top center/100% 100%
  margin 0 auto
  font-size 0.43rem
  color #8B572A
  font-family PingFangSC-Regular, PingFang SC
  text-align center
  line-height 0.85rem
  overflow hidden
  box-sizing border-box
  padding 0 0.2rem
.edit-push-books
  size(100%, 5.17rem)
.edit-push-book-item 
  width 2.62rem
  display inline-block
  margin-top 0.5rem
  margin-left 0.52rem
.edit-push-book-item img 
  size(100%, 3.46rem)
.edit-push-bookname 
  width 100%
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  font-size 0.37rem
  font-family PingFangSC-Regular, PingFang SC
  font-weight 400
  color #333333
  padding-top 0.1rem