extends ../../common/index.pug

//- 模板参数
block arguments
  - var title = '书籍尾页'
  - var remlayout = true
  - var develop = true

block headerJS
  <script src="https://scdn.ibreader.com/bargain/static/ckplayer/ckplayer.min.js"></script>
