block arguments
doctype html
html(lang='zh')
  head
    meta(charset="utf-8")
    meta('http-equiv'="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover")
    meta(name="format-detection" content="telephone=no")
    title #{title || '优房网！'}
    meta(name="renderer" content="webkit")
    meta(http-equiv="Cache-Control" content="no-siteapp")
    meta(name="keywords" content="优房网！")
    meta(name="description" content="优房网！")
    meta(name="site" content="优房网！")
    if remlayout
      script.
        (function flexible (window, document) {
          var docEl = document.documentElement
          var dpr = window.devicePixelRatio || 1
          function setBodyFontSize () {
            if (document.body) {
              document.body.style.fontSize = (12 * dpr) + 'px'
            }
            else {
              document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
          }
          setBodyFontSize()
          function setRemUnit () {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
          }
          setRemUnit()
          // reset rem unit on page resize
          window.addEventListener('resize', setRemUnit)
          window.addEventListener('pageshow', function (e) {
            if (e.persisted) {
              setRemUnit()
            }
          })
          // detect 0.5px supports
          if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
              docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
          }
        }(window, document))
    if (develop && process.env.VUE_APP_DEVELOP_ENV==='true')
      script(src="/youfang/js/eruda.js")
      script.
        eruda.init()
    block headerCSS
    block headerJS
  body(style="touch-action: manipulation")
    #app
    block footJS
