html,body
  font-family inheirt
.national
  .sex
    padding-bottom 25px
    min-height 100vh
    background url('../../assets/national_day/female_bg_icon.png') repeat top center/100%
    background-color rgba(255, 134, 134, 0.2)
    &.is-bk
      .top
        background-image url('../../assets/national_day/bk_female_top_bg.png')
    &.is-male
      background url('../../assets/national_day/male_bg_icon.png') repeat top center/100%
      background-color rgba(47, 34, 104, 1)
      &.is-bk
        .top
          background-image url('../../assets/national_day/bk_male_top_bg.png')
      .top
        background-image url('../../assets/national_day/yc_male_top_bg.png')
      .banner
        background-image url('../../assets/national_day/male_banner_icon.png')
        .banner-item
          color rgba(48, 33, 89, 1)
          &.active
            color rgba(48, 33, 89, 1)
      .book-box
        .book-list
          .book-item
            .book-item-name
              color rgba(237, 192, 59, 1)
        .video-list
          .video-item
            .video-item-name
              color rgba(255, 205, 48, 1)
    .top
      width 375px
      height 313px
      background url('../../assets/national_day/yc_female_top_bg.png') no-repeat top center/contain
    .banner
      width 375px
      height 50px
      background url('../../assets/national_day/female_banner_icon.png') no-repeat center/contain
      display flex
      align-items center
      justify-content space-between
      padding 0 22px
      box-sizing border-box
      &.is-fixed
        position fixed
        left 0
        top 0
        z-index 99
      .banner-item
        color rgba(255, 255, 255, 1)
        font-size 14px
        width: 104px
        height 28px
        line-height 32px
        text-align center
        border-radius 28px
        &.active
          background #ffffff
          color rgba(255, 89, 89, 1)
    .book-box
      &.is-fixed
        padding-top 50px
      .book-list
        display flex
        align-items flex-start
        justify-content space-between
        flex-wrap wrap
        padding 0 20px
        box-sizing border-box
        .book-item
          width 104px
          padding-top 15px
          position relative
          font-size 0
          .book-cover
            width 100%
            height 138px
            background rgba(216, 216, 216, 1)
            border-radius 5px
          .book-read-tip
            position absolute
            left -3px
            top 130px
            width 36px
            height 16px
            background url('../../assets/national_day/book_read_icon.png') no-repeat center/contain
          .book-item-name
            margin-top 10px
            font-size 12px
            color rgba(255, 89, 89, 1)
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 2
            overflow hidden
      .link-list
          display flex
          align-items flex-start
          justify-content space-between
          flex-wrap wrap
          padding 0 20px
          box-sizing border-box
        .link-item
          width 164px
          height 82px
          background-color rgba(151, 151, 151, 1)
          font-size 0
          box-sizing border-box
          margin-top 18px
          border-radius 5px
          overflow hidden
          .link-item-cover
            width 100%
            height 100%
      .video-list
        display flex
        align-items flex-start
        justify-content space-between
        flex-wrap wrap
        padding 0 20px
        box-sizing border-box
        .video-item
          width 162px
          font-size 0
          padding-top 28px
          .video-item-cover
            width 100%
            height 216px
            border-radius 5px
            background-color rgba(216, 216, 216, 1)
            position relative
            overflow hidden
            img
              width 100%
              height 100%
            .video-item-play
              width 44px
              height 44px
              border-radius 50%
              background url('../../assets/national_day/paly_icon.png') center/contain
              position absolute
              left 50%
              top 50%
              transform translate(-50%, -50%)
          .video-item-name
            color rgba(255, 89, 89, 1)
            font-size 12px
            margin-top 10px
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 2
            overflow hidden
    .share-icon
      width 58px
      height 58px
      background url('../../assets/national_day/share_icon.png') no-repeat center/contain
      position fixed
      bottom 88px
      right 10px
    .pop-tip
      padding 10px
      position fixed
      left 50%
      top 50%
      transform translate(-50%, -50%)
      font-size 12px
      background rgba(0,0,0,0.8)
      color #ffffff
      border-radius 6px
