#comment-item
  padding 20px
  box-sizing border-box
  border-top 10px solid #f4f4f4
  &:first-of-type
    border none
  .author
    display flex
    align-items center
    margin-bottom 20px
    img
      width 30px
      height 30px
      border-radius 50%
      margin-right 10px
      box-sizing border-box
    span
      font-size 16px
      color #666666
  .title
    font-size 14px
    font-weight bold
    color #333333
    padding 0 0 10px
    background #ffffff
  .content1
    font-size 14px
    color #333333
    line-height 18px
    .content-more
      color #FF5A00
      font-size 14px
  .img
    margin-top 20px
    width 154px
    height 144px
    background-position center center
    background-size 100% auto
  .comment-info
    display flex
    justify-content space-between
    font-size 14px
    align-items center
    margin-top 10px
    .time
      color #333333
      font-size 12px
    .delete
      margin-left 10px
      color #999999
    .right
      display flex
      color #666666
      font-size 13px
      align-items center
      height 100%
      .reply
        margin-left 10px
        img
          width 16px
          heihgt 19px
          margin-right 4px
          position relative
          top 3px
      .star
        margin-left 10px
        img
          width 16px
          heihgt 19px
          margin-right 3px
          position relative
          top 1px

img[src=""],
img:not([src]) {
  border 1px solid #DFDFDF
}